.online {
  display: block;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 20px;
}
.offline {
  display: block;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 20px;
}
/*============ friendList ===========*/
.friend {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.friendList {
  padding: 0;
  list-style-type: none;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 280px;
  height: 100px;
  margin: 7px;
  border: 1px solid #858585;
  border-radius: 3px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}
.statsus {
  margin: 15px;
  font-size: 55px;
}
.avatar {
  width: 85px;
  height: 85px;
  background-color: #858585;
  border-radius: 10px;
}
.name {
  margin-left: 18px;
  font-size: 28px;
  font-weight: 500;
}

/* ====================BODY================ */
body {
  background-color: #c9bcbc;
}
